html {
  font-family: 'Fjalla One', sans-serif;
}

header {
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  font-size: 24px;
  background-color: #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

#gameboard {
  border-radius: 15px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  background-color: rgba(108, 192, 192, 0.685);
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.square {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 30px;
  font-size: 20px;
  text-align: center;
}

#message {
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 20px;

}

#reset {
  border-radius: 15px;
  position: absolute;
  padding: 20px;
  bottom: 16px;
  right: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
  border:#f1f1f1;
  background-color: #f1f1f1;
}
